{% extends "admin/base.html" %}

{% block title %}MENTAL HEALTH | ADD DOCTOR{% endblock %}

{% block body %}
{% include "admin/navbar.html" %}

<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4>ADD DOCTOR</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
                      <span><i class="bi bi-person-badge-fill me-2"></i>DOCTOR DETAILS</span> 

                      {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                            {% if category == 'error' %}
                              <div class="alert alert-danger" role="alert">
                                {{ message }}
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endwith %}
         
          </div>
          <div class="card-body">
            <form class="form-horizontal" action="{{ url_for('add_doctor') }}" enctype="multipart/form-data" method="POST">
              <div class="form-group">
                <label class="control-label col-lg-2 mb-2" for="doctor_profile">DOCTOR PROFILE</label>
                <div class="col-lg-8">
                  <input type="file" class="form-control mb-2" id="doctor_profile" name="doctor_profile" accept="image/*" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-2 mb-2" for="doctor_name">DOCTOR NAME</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control mb-2" id="doctor_name" name="doctor_name" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-2 mb-2">POSITION</label>
                <div class="col-lg-8">
                  <select class="form-control mb-2" name="doctor_position" required>
                    <option value="">- Choose Position -</option>
                    {% for position in positions %}
                    <option value="{{ position.position_id }}">{{ position.position_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-2 mb-2" for="doctor_phone">DOCTOR CONTACT</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control mb-2" id="doctor_phone" name="doctor_phone" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-2 mb-2" for="doctor_email">DOCTOR EMAIL</label>
                <div class="col-lg-8">
                  <input type="email" class="form-control mb-2" id="doctor_email" name="doctor_email" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-2 mb-2" for="doctor_pswd">DOCTOR PASSWORD</label>
                <div class="col-lg-8">
                  <input type="password" class="form-control mb-2" id="doctor_pswd" name="doctor_pswd" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-2 mb-2">DOCTOR GENDER</label>
                <div class="col-lg-8">
                  <select class="form-control mb-2" name="doctor_gender" required>
                    <option value="">- Choose Gender -</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-9">
                  <button type="submit" class="btn btn-primary">Add</button>
                  <button type="reset" class="btn btn-danger">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
