<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebar"
      aria-controls="offcanvasExample"
    >
      <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
    </button>
    <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#"
      ><i class="bi bi-hospital">MENTAL HEALTH</i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#topNavBar"
      aria-controls="topNavBar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavBar">
      <form class="d-flex ms-auto my-3 my-lg-0"></form>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle ms-2"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-fill"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/logout">LogOut</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                CORE
              </div>
            </li>
            <li>
              <a href="{{ url_for('admin_dashboard') }}" class="nav-link px-3 active">
                <span class="me-2" aria-label="Toggle navigation"><i class="bi bi-speedometer2"></i></span>
                <span>Dashboard</span>
          
              </a>
            </li>
            <li>
              <a href="{{ url_for('doctors') }}" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-person-badge-fill"></i></span>
                <span>Doctors</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-3 active" href="#" id="patientsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="me-2"><i class="bi bi-people"></i></span>
                <span>Patients</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="patientsDropdown">
                <li><a class="dropdown-item" href="{{ url_for('inactive_patients') }}">Inactive Patients</a></li>
                <li><a class="dropdown-item" href="{{ url_for('pending_patients') }}">Pending Patients</a></li>
                <li><a class="dropdown-item" href="{{ url_for('taken_patients') }}">Taken Patients</a></li>
              </ul>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Interface
              </div>
            </li>
            <li>
              <a href="{{ url_for('add_admin') }}" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-plus"></i></span>
                <span>Add Admin</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('add_doctor') }}" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-plus"></i></span>
                <span>Add Doctor</span>
              </a>
            </li>
            <li>
              <a href="/logout" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-plus"></i></span>
                <span>LogOut</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
          </ul>
        </nav>
      </div>
    </div>
    
    